<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge, chrome=1">
    <title>Nooblord.ru</title>

    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/normalize.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css">
</head>
<body>
<div class="container">
    <div class="content-wrapper">
        <header class="nav-header">
            <a class="logo" href="#">No_Ob<span>Lord</span></a>
            <nav class="navigation">
                <a class="nav-link active" href="#">Главная</a>
                <a class="nav-link" href="#">Обо мне</a>
                <a class="nav-link" href="#">Архив</a>
                <a class="nav-link" href="#">Контакты</a>
                <a class="nav-link search" href="#">Поиск</a>
            </nav>
        </header>

        <article>
            <header>
                <p>20 сентября</p>
                <span class="category">JavaScript</span>
                <h1>Представляем бесплатную лабораторию программирования Wolfram Programming Lab.</h1>
            </header>
            <hr>
            <p>В декабре 2015 года на конференции JSConf US мы объявили, что планируем
                открыть исходный код ключевых компонентов JavaScript-движка Chakra, работающего в Microsoft Edge.
                Сегодня мы рады сообщить, что мы выложили исходный код ChackraCore под MIT лицензией в соответствующем
                репозитории на GitHub. В дальнейшем мы планируем продолжать разрабатывать ключевые компоненты
                Chakra в открытом виде.</p>
            <footer>
                <a href="#">Читать далее</a>
                <ul>
                    <li><a href="#">#JavaScript</a></li>
                    <li><a href="#">#JSConf</a></li>
                    <li><a href="#">#События</a></li>
                </ul>
            </footer>
        </article>

        <footer>
            <ul class="footer-nav">
                <li><a href="#">Главная</a></li>
                <li><a href="#">Обо мне</a></li>
                <li><a href="#">Архив</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
            <ul class="footer-social">
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
            </ul>
            <p>© 2016 - Nooblord.</p>
        </footer>
    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</body>
</html>